*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.score-odd {
  background-color: #69aff5;
}

.score-even {
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.question {
  text-align: center;
  padding: 20px;
  padding-top: 150px;
  color: hsl(180, 4%, 5%);
}

.topRowFlexContainer { 
   
  margin: 2px 10px;
  display: flex;
} 

.topRowLeft {
  text-align: left;
  flex-basis : 50%;
}

.topRowRight {
  text-align: right;
  flex-basis : 50%;
}

.inlineFlexContainer { 
   
  margin: 6px 0px;
  display: flex;
} 

.initsLeft {
  text-align: left;
  margin: 2px 0px 0px 0px;
  padding-right: 6px;
  /* flex-basis : 33%; */
}

.initsCenter {
  text-align: left;
  padding-right: 6px;
  text-transform: uppercase;
  /* flex-basis : 33%; */
}

.initsRight {
  text-align: left;
  padding-left: 6px;
  /* flex-basis : 33%; */
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-answer-correct {
  text-align: left;
  color: green;
}

.card-answer-wrong {
  text-align: left;
  color: red;
}

.card-body {
  min-height: 100px;
}

.card-buttons {
  min-height: 100px;
  border-radius: 1px;
  border-width: 1px;
  margin: 0 auto;
  padding: 0px 0px;
}

.card-footer {
  text-align: center;
}

.card-result {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(125, 7, 155);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 16px 16px 16px 20px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

btn[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}
/* 
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
} */
